In [9]:
! cp ../backend/main.db sensitive/main.db

In [17]:
# ! cp sensitive/main.db ../backend/main.db

In [10]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os.path

In [11]:
db = create_engine('sqlite:///sensitive/main.db')

In [21]:
query = """
SELECT * FROM churches
"""

In [22]:
pd.read_sql(query, db)

Empty DataFrame
Columns: [id, postcode, latitude, longitude, name, website]
Index: []

In [12]:
qry2 = """
SELECT * FROM sqlite_master
"""

In [13]:
pd.read_sql(qry2, db)

,type,name,tbl_name,rootpage,sql
0,table,todos,todos,2,"CREATE TABLE todos (\n\tid INTEGER NOT NULL, \..."
1,table,converter,converter,3,CREATE TABLE converter (\n\tid INTEGER NOT NUL...
2,table,members,members,5,"CREATE TABLE members (\n\tid INTEGER NOT NULL,..."
3,table,churches,churches,4,CREATE TABLE churches (\n\tid INTEGER NOT NULL...
4,table,users,users,6,CREATE TABLE users (\n\temail VARCHAR(255) NOT...
5,index,sqlite_autoindex_users_1,users,7,None

In [14]:
qr3 = """
SELECT * FROM users
"""

In [15]:
pd.read_sql(qr3, db)

           email                                      password_hash
0  jillmax@min.o  $pbkdf2-sha256$29000$9t57731vrTVGyHnP.Z.T8g$1L...
1          peter  $pbkdf2-sha256$29000$7/1fi5GScu6d0/q/V0opxQ$t1...
2         peterp  $pbkdf2-sha256$29000$.x/jfI/xPicEoDRmDCHkfA$Uu...
3              p  $pbkdf2-sha256$29000$9F6LMQYA4Py/t/aek7LWWg$Vq...

In [16]:
from passlib.hash import pbkdf2_sha256

In [19]:
hash = pbkdf2_sha256.hash('simple')

In [21]:
pbkdf2_sha256.verify('simple',hash)

True

In [20]:
hash

'$pbkdf2-sha256$29000$oJQSwhhjzDknRGhNae39Xw$rxdmLsW.HuBsddwwRnnXJ1dQpmovxuaMwXyuTOq1Lkc'

In [13]:
qry4 = """
PRAGMA table_info(users)
"""

In [14]:
pd.read_sql(qry4, db)

   cid           name          type  notnull dflt_value  pk
0    0             id       INTEGER        1       None   1
1    1          email  VARCHAR(255)        0       None   0
2    2  password_hash  VARCHAR(255)        0       None   0

In [15]:
qry5 = """
DROP TABLE users
"""

In [16]:
pd.read_sql(qry5, db)

ResourceClosedError: This result object does not return rows. It has been closed automatically.